
.grid-container{
    display: grid;
    grid-gap: 50px;
    margin: 50px;
    text-align: center;
}


.item1{

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 8;
}
.item2{

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.item5{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}


#hovedd{
    position: fixed;
    width: 50%; 
    text-align: center;
}


#fasade{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#map{
    height: 400px;
        /* The height is 400 pixels */
    margin: 10px;
        /* The width is the width of the web page */
    
}

#over{
    text-align: center;
    font-size: 70px;
}
.h{
    font-size: 23px;
    margin: 20px;
    line-height: 1.5;
}
.h2{
    margin: 10px;
}
.p{
    margin: 20px;
    text-align: left;
    font-size: 20px;
    line-height: 1.5;  
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}