
.grid-container{
    display: grid;
    grid-gap: 50px;
    margin: 50px;
    text-align: center;
}
.item1{

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
}
.item2{

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 8;
}
.item3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}


#hovedd{
    position: fixed;
    width: 50%; 
    text-align: center;
}


#fasade{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#map{
    height: 400px;
        /* The height is 400 pixels */
    margin: 10px;
        /* The width is the width of the web page */
    
}

h1{
    text-align: center;
}
.h{
    font-size: 23px;
    margin: 20px;
    line-height: 1.5;
}
p{
    margin: 20px;
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
    
}