#wrapper{
    display: grid;
    grid-template-columns: 7% 40% 6% 40% 7%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 50px;
    padding: 10px;

}


#inCartDetails{
    width: 70%;
    margin:auto;
    text-align: center;
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

#inCartDetails > h1{
    font-weight: normal;
}

#foodType{
    display: inline-block;
    text-align: left;
}

#foodStats{
    display: inline-block;
}

#foodInCart{
    display:flex;
    justify-content: space-between;
    padding-inline: 50px;
}

#delivery{
    text-align: center;
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#delivery > h1{
    font-weight: normal;
}

#userData{
    text-align: right;
}

#userData > label > input{
    width: 70%;
    height: 50px;
    margin: 7px 0px 0px 7px; 
    border-radius: 5px;
    text-indent: 15px;
}

#deliveryMethod > h1{
    padding: 20px 0px 5px 0px;
    text-align: left;
    font-size: 25px;
    font-weight: normal;
}

#payment{
    text-align: center;
    padding: 20px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#payment > h1{
    font-weight: normal;
}

#paymentMethod > h1{ 
    padding: 20px 0px 5px 0px;
    text-align: left;
    font-size: 25px;
    font-weight: normal;
}

.whiteInputDiv{
    background-color: #FAF9F9;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    
}

.whiteInputDiv > label > input{
    margin: 3px auto 3px 5px
}



#paymentInformation{
    text-align: right;
}

#paymentInformation > label > input{
    width: 70%;
    height: 50px;
    margin: 7px 0px 0px 7px; 
    border-radius: 5px;
    text-indent: 15px;
}


#paymentInformation > h1{ 
    padding: 20px 0px 5px 0px;
    text-align: left;
    font-size: 25px;
    font-weight: normal;
}

#betalKnapp{
    background-color: #89B0AE;
    border: 0;
    color: #FAF9F9;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;
    padding: 25px 60px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#fadedText{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    font-size: 60px;
}

#fadedText > p{
    color: rgb(128,128,128,0.5) !important;
    text-align:center;
}

#inCartWrapper {
    padding-top: 20px;
}

#totalStats{
    display:flex;
    justify-content:right;
    padding-inline: 50px;
    
}

#deliveryStats{
    display:flex;
    justify-content: space-between;
    padding-inline: 50px;
}

#CCVTekst, #postnrTekst, #kortnrTekst{
    display: none;
}
#SikkerhetskodeTekst, #postnummerTekst, #kortnummerTekst{
    display: inline-block;
}


@media (max-width: 1180px) {
    #CCVTekst {
        display: inline-block;
    }
    #SikkerhetskodeTekst{
        display: none;
    }
  }

@media (max-width: 1020px) {
    #postnummerTekst, #kortnummerTekst{
        display: none;
    }
    #postnrTekst, #kortnrTekst {
        display: inline-block;
    }
  }
