/* ---------------------------------------------------
-------------------- MENY START -------------------
--------------------------------------------------- */

/* Produkter */

#content{
    width: 100%;
    display: flex;
}

#products{
    flex: 1;
    padding: 20px;
    font-size: 12px;
}
.produkt_Boks{
    background-color: #FFD6BA;
    margin: 8px 50px 8px 0;
    border-radius: 12px;
    overflow: auto;
    display:inline-block;
    padding: 5px;
    text-align: left;
}
.produkt_Boks > img{
    width: 200px;
    height: auto; 
    float: left;
}
.produkt_Boks > button{
    float: right;
    padding: 7px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5ba35d;
    border: none;
    border-radius: 15px;
}
.produkt_Boks > h1{
    display: inline-block;
    margin-bottom: 15px;
}
.produkt_Boks > h3{
    margin-bottom: 20px;
    color: rgb(100, 94, 94);
}
.produkt_Boks > p{
    margin: 10px 0px;
}
@media (max-width: 1020px) {
    .produkt_Boks > img{
        width: 100%;
    }
    .produkt_Boks{
        width: 250px;
    }
}

/* Handlekurv */

#handlekurv{
    flex: 1;
    padding: 20px;
    font-size: 12px;
}
#handlekurv_Boks{
    background-color: #555B6E;
    border-radius: 12px;
    color: white !important;
    text-align: center;
    padding: 5px;
    width: 60%;
    margin: 20px auto;
}
#handlekurv_Boks_Header{
    padding: 7.5px;
}
#handlekurv_Content{
    min-height: 300px;
}
#handlekurv_Footer{
    margin-top: 10px;
    font-size: 15px;
}
#handlekurv_Footer > button{
    padding: 7px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5ba35d;
    border: none;
    border-radius: 15px;
    margin: 7.5px;
}
.vare_div{
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 15px 5px;
    row-gap: 5px;
}
.navn{
    grid-column: 1;
    grid-row: 1;
    color: white;
}
.pris_tekst{
    color: white;
}
.antall-liste{
    grid-column: 2;
    grid-row: 1;
    width: 30%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    font-size: 1.2em;
    text-align: center;
    margin: auto;
}
.knp-slett{
    text-align: center;
    padding: .67em;
    cursor: pointer;
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    width: 40%;
    margin: auto;
}
@media (max-width: 1020px) {
    #handlekurv{
        width: 300px;
    }
}

/* ---------------------------------------------------
-------------------- MENY SLUTT ---------------------
--------------------------------------------------- */