
.resInput:focus, #behov:focus{
    outline: none;
}

#resBilde{
    width:100%;
    object-fit: contain;
}

.resBoks{
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
}

#ledigePlasserBoks{
    text-align: center;
    height: 10ch;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

#resBord{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 15px;
    
    font-size: larger;
}

#resForm{
    display: table;
    margin: auto;
    /* margin-left:35%; */
    margin-left: auto;
}

.resLabel{
    display: table-row;
}

.resSpan{
    display: table-cell;
    text-align: right;
    padding-right: 5px;
    vertical-align: top;
}

#antallValgt{
    width: 100%;
}

.resInput, #antallValgt{
    margin-bottom: 5px;
    padding: 3px;
    border: none;
    border-radius: 3px;
}

#behov{
    width: 97%;
    resize: none;
    padding: 3px;
    border: none;
    border-radius: 3px;
}

#submit{
    margin-bottom: 25px;
    margin-left: 100%;
    width: 127%;
}

#ledigePlasserBoks > p{
    padding-top: 1.5ch;
}

#resSkjemaBoks{
    margin-bottom: 20ch;
}

#advarsel{
    color: rgb(255, 0, 0);
    padding-top: 0px !important;
    display: none;
}
