
/* Navbar */

* {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: #555B6E;
    padding: 0 30px;
}

#logo {
    display: flex;
    width: 460px;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
}

#logo h1 {
    font-weight: 100;
    color: #BEE3DB;
}

#michelin img {
    width: 200px;
}

#links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 100;
    width: 350px;
}

#links li {
    color: #BEE3DB;
}

#links li:hover {
    color: #89B0AE;
}


/* Main styling*/

body{
    background-color: #FAF9F9;
}

.whiteText{
    color: #FAF9F9;
}

.roundBox{
    border-radius: 15px;
}

.blackText{
    color: #000000;
}

.bgPink{
    background-color: #FFD6BA;
}

.bgBlack{
    background-color: #555B6E;
}

.colorGreen{
    background-color: #89B0AE;
}