
/* Navbar */

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: #555B6E;
    padding: 0 30px;
}

#logo {
    display: flex;
    width: 460px;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
}

#logo h1 {
    font-weight: 100;
    color: #BEE3DB;
}

#michelin img {
    width: 200px;
}

#links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 100;
    width: 350px;
}

#links a {
    color: #BEE3DB;
}

#links a:hover {
    color: #89B0AE;
}


/* Main styling*/

body{
    background-color: #FAF9F9;
}

.whiteText{
    color: #FAF9F9;
}

.roundBox{
    border-radius: 15px;
}

.blackText{
    color: #000000;
}

.bgPink{
    background-color: #FFD6BA;
}

.bgBlack{
    background-color: #555B6E;
}

.bgGreen{
    background-color: #89B0AE;
}

       /*  Footer  */

#footer {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #555B6E;
    width: 100%;
    height: auto;
}
#text_content{
    position: relative;
    height: 10%;
    margin-top: 4%;
}

#text_content > p {
    padding: 5px;
    color: #BEE3DB;
    text-align: center;
}
#images {
    text-align: center;
    display: block;
}

.soMe {
    width: 35px;
    height: 35px;
}