body {
    margin: 0px;
    background-color: #e1ad01;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

header {
    text-align: center;
}

header img {
    padding: 5px;
    border: 5px solid #2b4f61;
    border-radius: 4px;
    background-color: white;
}

#menu {
    width: 50%;
    margin: auto;
}

#menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#menu ul li a {
    color: white;
    background-color: #2b4f61;
    padding: 6px;
    border-radius: 5px;
}

table{
    margin:20px;
}


table, th, td {
    border: 1px solid white;
    color: white;
    border-collapse: collapse;
}

.box h3 {
    color: white;
    margin-left: 40px;
    margin-bottom: 0;
}

.box img {
    margin:0px 20px;
    height: 400px;
}

#menu ul li a:hover {
    background-color: #006767;
}

.box {
    border-radius: 5px;
    max-width: 100ch;
    margin: auto;
    margin-bottom: 10px;
    background-color: #2b4f61;
    padding: 8px 1px;
}

.box h2 {
    text-align: center;
    margin-bottom: 0px;
    color: white;
}

.box p, .box ul, .box h1 {
    text-align: left;
    padding: 5px 5%;
    color: white;
}

#websiteLink{
    color: cornflowerblue;
}

#changes p{
    margin: 0 auto;
}